<section class="container"@image>
  <div class="row">
    <div class="col-sm-2">
      <img src="/assets/img/laptop.svg" class="img-fluid d-none d-sm-block" alt="Code Icon (code/)">
    </div>
    <div class="col-sm-4">
      <h4>Code</h4>
      <p class="text-muted">
        I started off writing small batch files to automate very remidial tasks, I.E. empty the recycbin, clean temp files, empty out the browers cache. Then as time went on I realized there was so much more to writing scripts that I have now developed a fully automated employee onboarding process.
      </p>
    </div>
    <div class="col-sm-2">
        <img src="/assets/img/internet.svg" class="img-fluid d-none d-sm-block" alt="UI Widgets icon">
      </div>
      <div class="col-sm-4">
        <h4>Security</h4>
        <p class="text-muted">
          While I was doing a lot of coding one of my other passions is security and scripting really helped define what I was looking at or even looking for. A great example is the Powershell script I wrote to check for SMB and which version your running also to check the registry keys.
        </p>
      </div>
    </div>

    <div class="row mt-md-5">
      <div class="col-sm-2">
        <img src="/assets/img/monitor.svg" class="img-fluid d-none d-sm-block" alt="Quality icon">
      </div>
      <div class="col-sm-4">
        <h4>Networking</h4>
        <p class="text-muted">

        </p>
      </div>

      <div class="col-sm-2">
        <img src="/assets/img/analytics.svg" class="img-fluid d-none d-sm-block" alt="Accessible icon (escalator)">
      </div>
      <div class="col-sm-4">
        <h4>Databases</h4>
        <p class="text-muted">

        </p>
      </div>
    </div>

    <div class="row mt-md-5">
      <div class="col-sm-2">
        <img src="/assets/img/networking-1.svg" class="img-fluid d-none d-sm-block" alt="Team icon">
      </div>
      <div class="col-sm-4">
        <h4>Cloud</h4>
        <p class="text-muted">

        </p>
      </div>

       <div class="col-sm-2">
        <img src="/assets/img/navigation.svg" class="img-fluid d-none d-sm-block" alt="Community icon">
      </div>
      <div class="col-sm-4">
        <h4>Connecting</h4>
        <p class="text-muted">

        </p>
      </div>
    </div>
    </section>
