<main class="bd-masthead">
  <div class="container-fluid">
    <img class="bd-booticon" src="assets/img/webdesign/svg/placeholder.svg" alt="ng-bootstrap logo"/>
    <p class="lead d-none d-md-block">
      Thank you for visiting my website! I have plently of examples of code for Powershell, Python, C#, .Net, Angular and plently of other one of items.
    </p>
    <p class="lead">
      <a
        class="btn btn-outline-primary"
        [routerLink]="['/resume']">Resume</a>
      <a
        class="btn btn-outline-primary"
        href="https://github.com/thor1r" target="_blank">GitHub</a>
    </p>
  </div>
</main>
<section class="container">
  <div class="row">
    <div class="col-sm-2">
      <img src="assets/img/webdesign/svg/design-tool.svg" class="img-fluid d-none d-sm-block" alt="Code Icon (code/)">
    </div>
    <div class="col-sm-4">
      <h4>Code</h4>
      <p class="text-muted">
        I started off writing small batch files to automate very remidial tasks, I.E. empty the recycbin, clean temp files, empty out the browers cache. Then as time went on I realized there was so much more to writing scripts that I have now developed a fully automated employee onboarding process.
      </p>
    </div>
    <div class="col-sm-2">
        <img src="assets/img/webdesign/svg/security.svg" class="img-fluid d-none d-sm-block" alt="UI Widgets icon">
      </div>
      <div class="col-sm-4">
        <h4>Security</h4>
        <p class="text-muted">
          While I was doing a lot of coding one of my other passions is security and scripting really helped define what I was looking at or even looking for. A great example is the Powershell script I wrote to check for SMB and which version your running also to check the registry keys.
        </p>
      </div>
    </div>

    <div class="row mt-md-5">
      <div class="col-sm-2">
        <img src="assets/img/webdesign/svg/tools.svg" class="img-fluid d-none d-sm-block" alt="Quality icon">
      </div>
      <div class="col-sm-4">
        <h4>Networking</h4>
        <p class="text-muted">

        </p>
      </div>

      <div class="col-sm-2">
        <img src="assets/img/webdesign/svg/analysis.svg" class="img-fluid d-none d-sm-block" alt="Accessible icon (escalator)">
      </div>
      <div class="col-sm-4">
        <h4>Databases</h4>
        <p class="text-muted">

        </p>
      </div>
    </div>

    <div class="row mt-md-5">
      <div class="col-sm-2">
        <img src="assets/img/webdesign/svg/compass.svg" class="img-fluid d-none d-sm-block" alt="Team icon">
      </div>
      <div class="col-sm-4">
        <h4>Cloud</h4>
        <p class="text-muted">

        </p>
      </div>

       <div class="col-sm-2">
        <img src="assets/img/webdesign/svg/search.svg" class="img-fluid d-none d-sm-block" alt="Community icon">
      </div>
      <div class="col-sm-4">
        <h4>Connecting</h4>
        <p class="text-muted">

        </p>
      </div>
    </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>Ready to have me as part of the team? Thats great! Send me a E-Mail or you can reach out to me!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p>
              <a href="mailto:matt.stillson21@gmail.com">Matt.Stillson21@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

