<main class="bd-masthead">
  <div class="container-fluid">
    <img class="bd-booticon" src="assets/img/trophy.svg" alt="ng-bootstrap logo"/>
    <p class="lead d-none d-md-block">
      Thank you for visiting my website! I have plently of examples of code for Powershell, Python, C#, .Net, Angular and plently of other one of items.
    </p>
    <p class="lead">
      <a
        class="btn btn-outline-primary"
        [routerLink]="['/resume']">Resume</a>
      <a
        class="btn btn-outline-primary"
        href="https://github.com/thor1r" target="_blank">GitHub</a>
    </p>
  </div>
</main>
<div class="container">
  <app-services></app-services>
</div>
<div class="container">
  <app-contact></app-contact>
</div>
