<section>
  <div class="container">
    <h2>Examples Section</h2>
  </div>
  <br/>
  <div class="container">
    <p>
      I have 15+ years of experience in IT and have retained a huge amount of information new and old. When I sit down to start coding I will take a module or program and memorize a huge amount of the commands and see how I can automate a process that would normally take a person a long time to complete. Most times there is a package that is already made and the code just needs to fit the need.
    </p>
  </div>
</section>
<br/>
<section>
  <div class="container">
    <div class="container-fluid">
      <h3>Code: </h3>
    </div>
    <div class="container-fluid">
      <a href="" target="_blank">Powershell</a>
    </div>
    <div class="container-fluid">
      <a href="" target="_blank">Python</a>
    </div>
    <div class="container-fluid">
      <a href="" target="_blank">Javascript</a>
    </div>
    <div class="container-fluid">
      <a href="" target="_blank">HTML</a>
    </div>
    <div class="container-fluid">
      <a href="" target="_blank">Security Related Scripts</a>
    </div>
    <div class="container-fluid">
      <a href="" target="_blank">SQL</a>
    </div>
    <br/>
    <h3>Latest books I have read.</h3>
    <div class="container-fluid">
      <a href="" target="_blank">Book1</a>
    </div>
    <div class="container-fluid">
      <a href="" target="_blank">Book2</a>
    </div>
    <div class="container-fluid">
      <a href="" target="_blank">Book3</a>
    </div>
  </div>
</section>
